*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    padding: 20px;
    font-family: monospace;
    background: url(nasa-hubble-space-telescope-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.trivia{
    margin: 100px auto 0;
    border-radius: 10px;
    background-color: hsl(220, 100%, 90%);
    padding: 30px;
    max-width: 90%;
}
.trivia h1{
    font-size: 25px;
    font-weight: 600;
    color: hsl(220, 100%, 10%);
    border-bottom: 1px solid hsl(220, 100%, 10%);
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    font-weight: 600;
    color: hsl(220, 100%, 10%);
}
.btn{
    background-color: white;
    color: black;
    font-weight: 500;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    color: white;
    background-color: black;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background-color: hsl(220, 100%, 10%);
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    display: none;
}
.correct{
    background-color: hsl(120, 80%, 60%);
}
.incorrect{
    background-color: hsl(0, 80%, 60%);
}